<%= form_with(model: news, local: true) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
        <% news.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :news_title %>
    <%= form.text_field :news_title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :news_description %>
    <%= form.text_area :news_description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :news_publish_date_time %>
    <%= form.datetime_select :news_publish_date_time, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :news_link %>
    <%= form.text_area :news_link, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :click_count %>
    <%= form.text_field :click_count, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.select(:category_id, Category.all.collect { |p| [ p.category_title, p.id ] }, { include_blank: "-Select Category-" }, html_options = {class: "form-control", required: true}) %>
    <%= form.label :category_id %>
  </div>

  <div class="field">
    <%= form.select(:agency_id, Agency.all.collect { |p| [ p.agency_name, p.id ] }, { include_blank: "-Select Agency-" }, html_options = {class: "form-control", required: true}) %>  
    <%= form.label :agency_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
