<div class="news-feeds">  
  <% if user_signed_in? && @show_report.present? %>
    <span class="delete-news"><%= link_to 'Delete All News', delete_all_news_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-submit" %></span>
    <span class="delete-news"><%= link_to 'Fetch News from RSS feeds', fetch_all_news_path, class: "btn btn-submit" %></span>
  <% end %>
  <h1>News</h1>
  <% if @all_news.present? %>
    <% @all_news.each do |news| %>
      <div class="news-item" id="<%= news.id %>">
        <h4 class="news-title"><%= link_to news.news_title, news.news_link, target: :_blank, class: "news-link" %></h4>
        <p class="news-desc"><%= news.news_description.html_safe %></p>
        <span class="news-pub"><%= news.news_publish_date_time %></span>
        <% if user_signed_in? && @show_report.present? %>
          <br/>
          <span class="news-clicks">Number of clicks: <%= news.click_count %></span>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="news-item">
      <p class="news-desc">No News present!</p>
    </div>
  <% end %>
</div>
