<p>
  <strong>News title:</strong>
  <%= @news.news_title %>
</p>

<p>
  <strong>News description:</strong>
  <%= @news.news_description %>
</p>

<p>
  <strong>News publish date time:</strong>
  <%= @news.news_publish_date_time %>
</p>

<p>
  <strong>News link:</strong>
  <%= @news.news_link %>
</p>

<p>
  <strong>Click count:</strong>
  <%= @news.click_count %>
</p>

<p>
  <strong>Category:</strong>
  <%= @news.category.category_title %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @news.agency.agency_name %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
