<h1>Agencies</h1>

<table>
  <thead>
    <tr>
      <th>S. No.</th>
      <th>Agency name</th>
      <th>Agency logo path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each_with_index do |agency, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= agency.agency_name %></td>
        <td><%= agency.agency_logo_path %></td>
        <td><%= link_to 'Show', agency %></td>
        <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
        <td><%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agency', new_agency_path %>
