<p>
  <strong>Agency name:</strong>
  <%= @agency.agency_name %>
</p>

<p>
  <strong>Agency logo path:</strong>
  <%= @agency.agency_logo_path %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
