.news-feeds {
  .news-item {
    display: inline-block;
    padding: 20px 0;
    border-bottom: 1px solid #ffcc00;
    width: 100%;

    .news-title {
      a {
        color: #000;
        font-size: 16px;
        text-decoration: underline;
      }
      a:hover {
        color: #0056b3;
        text-decoration: underline;
        background-color: #fff;
      }
    }
    .news-desc {
      img {
        display: block;
        max-width: 160px;
        height: auto;
      }
    }
    .news-pub {

    }
  }

}

.sidebar {
  .sidebar-sticky {
    padding: 15px 5px;
    .form-check {      
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.btn-submit {
  color: #000 !important;
  background-color: #ffcc00 !important;
  border-color: #ffcc00 !important;
  border-radius: 0px !important;
  text-transform: uppercase;
  font-size: 12px !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
}

.btn-submit:hover {
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
}
.btn-submit:focus, .btn-submit.focus {
  box-shadow: 0 0 0 0.2rem #ffe680 !important;
}

.container-fluid > .row{
  min-height: 700px;
}