<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>S. No.</th>
      <th>Category title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each_with_index do |category, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= category.category_title %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
