<%= form_with(model: agency_feed, local: true) do |form| %>
  <% if agency_feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agency_feed.errors.count, "error") %> prohibited this agency_feed from being saved:</h2>

      <ul>
        <% agency_feed.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :agency_feed_url %>
    <%= form.text_area :agency_feed_url, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.select(:category_id, Category.all.collect { |p| [ p.category_title, p.id ] }, { include_blank: "-Select Category-" }, html_options = {class: "form-control", required: true}) %>
    <%= form.label :category_id %>
  </div>

  <div class="form-group">
    <%= form.select(:agency_id, Agency.all.collect { |p| [ p.agency_name, p.id ] }, { include_blank: "-Select Agency-" }, html_options = {class: "form-control", required: true}) %>  
    <%= form.label :agency_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
