<h1>Agency Feeds</h1>

<table>
  <thead>
    <tr>
      <th>S. NO.</th>
      <th>Agency feed url</th>
      <th>Agency</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agency_feeds.each_with_index do |agency_feed, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= agency_feed.agency_feed_url %></td>
        <td><%= agency_feed.agency.agency_name %></td>
        <td><%= agency_feed.category.category_title %></td>
        <td><%= link_to 'Show', agency_feed %></td>
        <td><%= link_to 'Edit', edit_agency_feed_path(agency_feed) %></td>
        <td><%= link_to 'Destroy', agency_feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agency Feed', new_agency_feed_path %>
