<p>
  <strong>Agency feed url:</strong>
  <%= @agency_feed.agency_feed_url %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @agency_feed.agency.agency_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @agency_feed.category.category_title %>
</p>

<%= link_to 'Edit', edit_agency_feed_path(@agency_feed) %> |
<%= link_to 'Back', agency_feeds_path %>
