<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">NewsForYou</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/agencies">Agencies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/agency_feeds">Agency Feeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news_report">News & Report</a>
        </li>
      <% end %>
    </ul>
    <span class="navbar-text">
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "nav-link" %>
      <% else %>
        <a class="nav-link" href="/sign_in">Sign In</a>
      <% end %>
    </span>
  </div>
</nav>