<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <form action="/" role="form">
      <% if @categories.present? && controller_name =="news" && action_name == "index" %>
        <h5>Select Categories</h5>
        <% @categories.each do |category| %>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" value="<%= category.id %>" id="categories_<%= category.id %>" name="categories[]" <%= (params[:categories].present? && (params[:categories].include? "#{category.id}")) ? 'checked' : '' %> >
            <label class="form-check-label" for="categories_<%= category.id %>" ><%= category.category_title %></label>
          </div>
        <% end %>
        <button type="submit" class="btn btn-submit">Submit</button>
      <% end %>
    </form>
  </div>
</nav>