<!DOCTYPE html>
<html>
  <head>
    <title>NewsForYou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/sidebar' %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <p id="notice" class="notice" ><%= notice %></p>
          <p id="alert" class="alert" ><%= alert %></p>
          <div class="col-md-9 col-lg-10 pt-3 px-4">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_pack_tag 'custom' %>
  </body>
</html>
